{% extends "./layout.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <p>
                    <img src="{{ post.author.profile_pic }}" width="10%" class="rounded-circle"/>  Posted by: <a class="mr-2" href="/user/posts/{{ post.author.id }}">{{ post.author.screen_name }}</a>
              <small class="text-muted">{{ post.created_at }}</small></p>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}