{% extends "./layout.html" %}

{% block content %}
    <h1>Posts by {{ user.screen_name }} </h1>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <p>Posted by: <a class="mr-2" href="/user/{{ post.author.id }}">{{ post.author.screen_name }}</a>
              <small class="text-muted">{{ post.created_at }}</small></p>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}